@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Light.woff2') format('woff2'),
  url('../fonts/Mulish-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Regular.woff2') format('woff2'),
  url('../fonts/Mulish-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Mulish';
  src: url('../fonts/Mulish-Bold.woff2') format('woff2'),
  url('../fonts/Mulish-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: "Mulish", "Arial", sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.container{
  width: 1260px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

ol{
  list-style: none;
  padding: 0;
}

img{
  vertical-align: middle;
}

.site-header{
  
  padding-top: 80px;
  padding-bottom: 50px;
}

.site-box{
  display: flex;
  justify-content: space-between;
}
.site-logo{
  width: 160px;
  height: 41px;
}

.menu-list{
  display: flex;
  align-items: center;
}

.menu-link{
  text-decoration: none;
  font-weight: 400;
  color: rgba(31, 21, 52, 0.5);
  margin-left: 40px;}
  
  .menu-active{
    font-weight: 700;
    margin-left: 0;
    color: rgba(31, 21, 52, 1);
  }
  
  .section-box{
    display: flex;
    align-items: center;
    margin-bottom: 113px;
  }
.vir-health-box{
  background-image: url("../images/headerbg-img.svg");
  background-repeat: no-repeat;
  background-position: calc( 50% - 690px) calc(50% - 190px);
 
}


  .healthcare-box{
    display: flex;
    align-items: center;
    
    margin-bottom: 113px;
  }
  .hero-section{
    width: 470px;
    padding: 20px;
    margin-right: 109px;
  }
  
  .hero{
    width: 427px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 25px;
  }

  .hero-text{
    width: 445px;
    font-size: 21px;
    line-height: 32px;
    color: rgba(125, 121, 135, 1);
    margin-bottom: 45px;
  }
  
  .hero-link{
    font-weight: 700;
    font-size: 18px;
    line-height: 60px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(69, 143, 246, 1);
    border-radius: 55px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    text-decoration: none;
  }

  .hero-img{
    width:630px ;
    height: 498px; 
  }

  .our-services{
    background-image: url("../images/Vector.svg") ,
     url("../images/headerbg-img.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 370px) calc(50% - 140px) , calc(50% + 565px) calc(50% - 25px);
    margin-bottom: 221px;
  }

  .services-heading{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    margin-bottom: 26px;
  }
  
  .services-line{
    display: block;
    width: 56px;
    height: 2px;
    background-color:  rgba(0, 0, 0, 1);
    border-radius: 5px;
    margin:0 auto;
    margin-bottom: 33px;
  }
  
  .service-title{
    width: 952px;
    margin: 0 auto;
    margin-bottom: 80px;
  }
  
  .services-description{
    text-align: center;
    color: rgba(125, 121, 135, 1);
    font-size: 18px;
    line-height: 30px;
  }
  
  .service-list{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -35px;
    margin-bottom: 70px;
  }
  .service-item{
    width: 350px;
    background-color: rgb(252, 250, 250);
    padding: 50px;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin: 35px;
  }
  
  .service-image{
    width: 80px;
    height: 90px;
    margin-bottom: 22px;
  }
  .item-header{
    font-weight: bold;
    font-size: 24px;
    line-height: 56px;
  }
  
  .item-text{
    font-size: 16px;
    line-height: 28px;
    color:  rgba(125, 121, 135, 1);
  }
  .service-link{
    display: block;
    width: 200px;
    padding: 25px;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color:rgba(69, 143, 246, 1) ;
    border: 1.4px solid rgba(69, 143, 246, 1);
    border-radius: 55px;
    text-align: center;
    margin: 0 auto;
  }
  
  .healthcares-box{
    height: 690px;
    background-image: url("../images/bg-image.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 720px) calc( 50% + 220px) ;
   
  }
  .box{
    display: flex;
    align-items: center;

  }
  
  .subhero-img{
    width:650px ;
    height: 477px; 
  }
  
  .subhero-section{
    width: 481px;
    padding: 20px;
    margin-left: 142px;
  }
  
  .subhero{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
  }
  .subhero-line{
    display: block;
    width: 56px;
    background-color: rgba(0, 0, 0, 1) ;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 10px;
    margin-bottom: 40px;
  }
  
  .subhero-text{
    line-height: 30px;
    color: rgba(125, 121, 135, 1);
    margin-bottom: 40px;
  }
  
  .subhero-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    color: rgba(69, 143, 246, 1);
    border: 1.4px solid rgba(69, 143, 246, 1);
    border-radius: 55px;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    text-decoration: none;
  }
  
  .app-box{
    display: flex;
    align-items: center;
    margin-bottom: 269px;
  }
  .app-section{
    width: 420px;
    padding: 20px;
    margin-right: 71px;
  }
  
  .app-hero{
    width: 254px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 30px;
  }
  .app-line{
    display: block;
    width: 56px;
    background-color: rgba(0, 0, 0, 1) ;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 6px;
    margin-bottom: 31px;
  }
  
  .app-text{
    line-height: 30px;
    color: rgba(125, 121, 135, 1);
    margin-top: 0;
    margin-bottom: 40px;
  }
  .app-img{
    width: 200px;
    height: 56px;
  }
  
  .app-image{
    width:650px ;
    height: 477px; 
  }
  .bq-section{
    background-image: url("../images/headerbg-img.svg");
    background-repeat: no-repeat;
    background-position: calc( 50% - 545px) calc(50% + 80px) ;
    margin-bottom: 222px;
  }
  .bq-box{
    width: 1120px;
    height: 425px;
    border-radius: 24px;
    background-image: url("../images/headerbg-img.svg");
    background-repeat: no-repeat;
    background-position: calc(50% + 550px) calc(50% - 170px);
    color: rgba(255, 255, 255, 1);
    background-color: rgba(69, 143, 246, 1);
    padding: 50px;
    margin: 0 auto;
    margin-bottom: 44px;
  }
  
  .hero-blockquote{
    display: block;
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin-top: 0;
    margin-bottom: 25px;
  }
  
  .line-blockquote{
    display: block;
    width: 56px;
    background-color: rgba(255, 255, 255, 1) ;
    border: 2px solid rgba(255, 255, 255, 1);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 66px;
  }
  
  .info-box{
    display: flex;
    align-items: center;
  }
  
  .customer-img{
    width: 133px;
    height: 133px;
    border-radius: 50%;
    margin-left: 124px;
  }
  
  .customer-info{
    width: 184px;
    font-weight: bold;
    font-size: 22px;
    line-height: 48px;
    margin-right:110px; 
    margin-left: 33px;
  }
  
  .content-bq{
    display: flex;
    width: 420px;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    margin: 0;
  }
  .line-box{
    text-align: center;
    margin:0 auto;
  }
  
  .our-articles{
    background-image: url("../images/headerbg-img.svg") , 
     url("../images/Vector-article.svg");
    background-repeat: no-repeat;
    background-position: calc(50% - 595px) calc(50% - 255px) ,
    calc(50% + 530px ) calc(50% - 70px);
  }
  .article-heading{
    font-weight: bold;
    font-size: 36px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 26px;
  }
  
  .article-line{
    display: block;
    width: 56px;
    height: 2px;
    background-color:  rgba(0, 0, 0, 1);
    border-radius: 5px;
    margin:0 auto;
    margin-bottom: 72px;}
    
    
    .article-list{
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      margin: -35px;
      margin-bottom: 72px;
    }
    .article-item{
      width: 350px;
      background-color: rgb(252, 250, 250);
      box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
      border-radius: 20px;
      margin: 35px;
    }
    .item-box{
      padding-top: 21px;
      padding-right: 51px;
      padding-bottom: 37px;
      padding-left: 33px;
    }
    
    .article-image{
      width: 100%;
      border-top-right-radius: 20px;
      border-top-left-radius: 20px;
    }
    
    .item-title{
      font-weight: bold;
      font-size: 21px;
      line-height: 32px;
    }
    
    .item-stext{
      font-size: 16px;
      line-height: 28px;
      color:  rgba(125, 121, 135, 1);}
      
      .article-sublink{
        width: 266px;
        height: 28px;
      }
      
      .box-link{
        display: block;
        text-decoration: none;
        text-align: center;
        width: 200px;
        font-size: 18px;
        color:rgba(69, 143, 246, 1) ;
        border: 1.4px solid rgba(69, 143, 246, 1);
        border-radius: 55px;
        padding: 15px;
        margin: 0 auto;
        margin-bottom: 201px;
       
      }
      
      
      .site-bottom{
        background-color: rgba(69, 143, 246, 1);
        background-image: url('../images/headerbg-img.svg') , 
        url("../images/headerbg-img.svg");  
        background-repeat: no-repeat;
        background-position: calc(50% - 720px) calc(50% + 150px) , calc(50% + 600px) calc(50% - 200px) ;
      }

  
      
      .footer-box{
        display: flex;
        align-items: center;
        color: rgba(255, 255, 255, 1);
        padding: 50px;  
      }
      
      .footer-info{
        width: 391px;
        margin-right: 145px;
        margin-left: 0; 
      }
      
      .site-logo-link{
        width: 160;
        height: 41px;
        margin-bottom: 17px;
      }
      .f-boxs{
        width: 200px;
        line-height: 28px;
        padding: 10px;
        margin-right: 170px;
      }
      .subtitle{
        font-weight: bold;
        font-size: 20px;
        line-height: 60px;
      }
      .finfo-text{
        font-size: 18px;
        line-height: 28px;
      }
      
      .finfo-subtext{
        font-size: 18px;
        line-height: 28px;}
        
        .hbox{
          margin-right: 0;}
          
          .box-lists{
            margin: 0;
          }
          
          
          .item-link{
            text-decoration: none;
            color: rgba(255, 255, 255, 1);
            line-height: 38px ;
          }
          